* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Hanken Grotesk', sans-serif;  
  font-weight: bold;
  text-align: center;
}

body {
  color: gray;
  background-color: hsl(0, 0%, 100%);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*   width: 100%; */
  align-items: center;
  justify-content: center;
}

.blueBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;  
/*   width: 85%;
  height: 50vh; */
  background-color: hsl(241, 81%, 54%);
  border-radius: 0px 0px 30px 30px;  
}

.blueCircle {
  width: 140px;
  height: 140px;  
  background-color: hsl(241, 86%, 50%);
  border-radius: 100%;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 20px rgb(80, 67, 224);
}

}
h1 {  
  color: rgb(211, 210, 210);
  padding:10px;
}

h2 {
    color: white;
    font-size: 50px;
    margin: 5px;
}

h3 {
    font-size: 20px;
    color: white;
    margin: 10px;
}
  
.summaryBox {
  padding: 10px;
  display: flex;
  flex-direction: column;  
  justify-content: center;
/*   width: 90%; */
  height: 50vh;
  border-radius: 20px;    
}

.summHead {
  margin: 30px 0px 0px 10px;  
  font-weight: bolder;
  text-align: left;  
  color: rgba(52, 59, 79, 255);
}

.summAll {  
  text-align: left;
  border-radius: 10px;
  font-weight: bold;   
  margin:5px;
  padding: 10px; 
  color: hsl(224, 30%, 27%);
}

.s1 {
  color: hsl(0, 100%, 67%);
  background-color: rgba(255, 246, 245, 255);
}
.s2 {
  color: hsl(39, 100%, 56%);
  background-color: rgba(255, 247, 233, 255);
}
.s3 {
  color: hsl(166, 100%, 37%);
  background-color: rgba(242, 251, 250, 255);
}
.s4 {
  color: hsl(234, 85%, 45%);
  background-color: rgba(243, 243, 253, 255);
}

i {
    padding: 10px;
}
.marks {
  float: right;
  color: rgb(60, 60, 60);
}
.total {
  color: rgb(150, 150, 150);
}

input {
  margin: 20px;
  padding: 10px;  
  font-weight: bold;
  color: white;
  border: 0px;
  background-color: rgba(48, 59, 89, 255);
  border-radius: 20px;  
}

input:hover {
    background-color: hsl(224, 30%, 27%);
}

.attribution {
     font-size: 11px;
     text-align: center;
     margin: 3rem;
  }
  
  .attribution a {
     color: hsl(228, 45%, 44%);
  }

@media only screen and (min-width: 840px) {
  *{
    font-size: 18px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: row;
    margin: 10% 20%;
/*     height: 50%; */
/*     width: 40%; */
  }
  .blueBox,
  .summaryBox {
    height: 60vh;
    width: auto;
/*     width: 50vw; */
  }
  .summaryBox {
    box-shadow: 20px 10px 50px rgb(215, 215, 215);
  }
  .blueBox{
    border-radius: 20px;
  box-shadow: 20px 10px 50px rgb(215, 215, 215);
  }
  .summHead {
    padding: 10px;
    margin: 10px 20px;
  }

  .summAll {
    padding: 10px;
    margin: 10px 30px;
  }
  input {
    padding: 10px;
    margin: 10px 30px;
  }
  
  .attribution {
     margin: -10rem 5rem;
  }

}
